<h1>{{title}}</h1>

<p>{{availableChefs.length}} of our {{menuLength}} are cooking right now! </p>

<ul>
  {{#each model as |chef|}}
      {{#if chef.isAvailable}}
        <li class="available">
          {{chef.name}} <button {{action "unAvailable" chef}}> Exit </button><br><br>
              Number Of Students
          <button {{action "removeStudent" chef}}> - </button>
            {{chef.students}}
          <button {{action "addStudent" chef}}> + </button>
        </li>
      {{else}}
          <li class="not-available">
            {{chef.name}}
            <button {{action "isAvailable" chef}}>Enter Building</button>
            <button {{action "deleteChef" chef}}>Fire</button>
          </li>
      {{/if}}
  {{/each}}
</ul>

<hr>

{{input value=newChef}}
<button {{action "saveNewChef"}}>New chef</button>
